<div class="connect">
    <label class="bg-info">Create Connection</label>
    <select id="connection" [(ngModel)]="selectedConnectionCode" (ngModelChange)="onChangeConnectionType(selectedConnectionCode)">
        <option *ngFor="let connection of connections" [value]="connection.code"> {{connection.name}}</option>
    </select>
</div>

<!-- *ngIf={{selectedManualConnection}} -->

<div class="manual_connect" *ngIf="isManualConnection">
    <form id="manulConnection" (submit)="onConnect($event)">
        <label>host</label>
        <input id="host" type="text" name="host" [(ngModel)]="connect.host" />

        <label>port</label>
        <input id="port" type="text" name="port" [(ngModel)]="connect.port" />

        <label>path</label>
        <input id="path" type="text" name="path" [(ngModel)]="connect.path" />

        <!-- <input class="btn btn-info btn-sm" id="submitConnect" type="button" value="Connect" /> -->
        <button type="submit">Connect</button>
    </form>
</div>